@model IEnumerable<Exercicio3.Models.Morador>

@{
    ViewData["Title"] = "Index";
}

<h1>Moradores</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Família")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayName("Quantidade de bichos de Extimação")<!--ALterando o nome de exibição sem usar model da classe Moradores-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.familia.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeBichosEstimacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Inserir novo Morador</a>
</p>
