@model IEnumerable<Exercicio3.Models.Familia>

@{
    ViewData["Title"] = "Index";
}

<h1>Familias</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayName("Condominio")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condominio.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detales</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Inserir nova Familia</a>
</p>
